@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: color 0.25s;
}

.page {
  width: 800px;
  margin: 20px auto;
}